.gamecodeDis{
  margin-top: 80px;
  position: fixed;
  top:0px;
  left:25px;
  color:#45A29E;

}

.lobbymessage{
  margin-top: 10px;
  margin-bottom: 80px;
  color:#45A29E;
}
button.lobbymessage{
  margin-bottom: 80px;
  background-color: transparent;
  border: 2px solid #45A29E;
  border-radius: 8px;
  color: #def2f1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
  height: 35px;
  padding:.5%;
}

.LplayerList{
  margin-top: 200px;
}