.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

.container-cards {
  margin: 0, 20%
}
div.gamesList {
  margin-top: 120px;
}
.sorting{
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: medium;
}
.sortSelect{
  margin-left: 5px;
  width:10%;
  border-radius: 10px;
}
.backButton{
  position: fixed;
  left: 5%;
}