@media(max-width: 600px){
  form.create {
    margin-top: 60px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}
@media(min-width: 600px){
  form.create {
    margin-top: 60px;
    width:600px;
  }
}



.titleTextArea {
  padding: 0;
  height: 35px;
  width: 100%;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  word-wrap: break-word;
  resize: none;
}



.categoryAndDifficulty {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

}


