.answerInput {
  width: 80%;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  background: #DEF2F1;
}

.answers {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

input[type='checkbox'] {
  padding-top: 5px;
  width:20px;
  height:25px;
  background:#DEF2F1;
  border-radius:10px;
  border:2px solid #555;
}
.cbes{
  margin:3%;
}