.Gameroom{
  margin-top: 80px;
  height:100%;

  justify-content: center;
  
}
.gamertag{
  padding:.5%;
  border-style: solid;
  border-radius: 8px;
  position: fixed;
  top:10%;
  right:2%;
  margin-top: 1%;
  color: #def2f1
  /* text-align: left; */
}
.timer{
  border-style: solid;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  color: #def2f1;
  padding:.5%;
  position:fixed;
  top:10%;
  left:2%;
}