.Gameroom{
  margin-top: 80px;
  height:100%;

  justify-content: center;
  
}
.gamertag{
  padding:.5%;
  border-style: solid;
  border-radius: 8px;
  position: fixed;
  top:10%;
  right:2%;
  margin-top: 1%;
  color: #def2f1
  /* text-align: left; */
}
.timer{
  font-size: 28px;
  border-style: solid;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  color: #def2f1;
  padding:5px;
  position: fixed;
  top:95px;
  left:2%;
}

.endGame{
  background-color: transparent;
  border: 2px solid #45A29E;
  border-radius: 8px;
  color: #def2f1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 2%;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 35px;
  padding:.5%;
}